#formula{
    min-height: 20px;
    font-family: digital;
    font-size: 20px;
    color: orange;
    text-align: right;
    vertical-align: text-top;
    line-height: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 40px;
    background-color:  #595c5f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
.outputScreen{
    font-size: 29px;
    font-family: digital;
    color: white;
    text-align: right;
    line-height: 35px;
    height: 40px;
    background-color:  #595c5f
  }
  