.box-switch{
    width: 40px;
    height: 20px;
    background-color: black;
    border:solid orange 2px;
    border-radius: 5px;
    
}

#switch{
    width: 20px;
    height: 20px;
    background-color: cornsilk;
    border-radius: 15px;
    border:solid peru 1px;
    float: right;
}