.keyboard{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 290px;  
    
   
}

#clear{
    grid-area: 1/1/2/3;
    background-color: rgb(110, 35, 35);
}
#divide{
    grid-area: 1/3/2/4;
}
#multiply{
    grid-area:1/4/2/5
}
#subtract{
    grid-area:2/4/3/5
}
#add{
    grid-area:3/4/4/5
}

#equals{
    grid-area:4/4/6/5;
    background-color: rgb(55, 46, 116);
}
#decimal{
    grid-area: 5/3/6/4;
}

#zero{
    grid-area: 5/1/6/3;
}

.operator{
 background-color:rgb(105, 97, 97) ;
}
.digit, .decimal{
    background-color: grey;
}
#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    background-color: rgb(197, 154, 139);
    border-radius: 0.25px;
    box-shadow: 3px 3px 5px black;
    border:solid 3px rgb(119, 107, 107);

}
